<template>
  <div class="home">
    <SearchBar />
    <ProductList />
  </div>
</template>

<script>
// @ is an alias to /src
import SearchBar from "../components/Home/SearchBar";
import ProductList from "../components/Home/ProductList";

export default {
  name: "Home",
  components: {
    ProductList,
    SearchBar,
  },
};
</script>
