<template>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div id="content">
                <img
          src="../assets/images/Antique-Auction.png"
        />
        <LoginForm />
      </div>
    </div>
  </section>
</template>
<script>
import LoginForm from "../components/Login/LoginForm";
export default {
  components: {
    LoginForm,
  },
};
</script>
<style lang="scss" scoped>
#content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
</style>
