<template>
  <div       v-if="productDetails">
    <ProductDetailsBox
      :product-details="productDetails"
    />
    <ProductBidsBox :product-code="productDetails.productCode"/>
  </div>
</template>

<script>
import axios from "axios";
import ProductBidsBox from '../components/ProductDetails/ProductBidsBox';
import ProductDetailsBox from "../components/ProductDetails/ProductDetailsBox";

export default {
  name: "ProductDetails",
  components: {
    ProductBidsBox,
    ProductDetailsBox,
  },
  data() {
    return {
      productDetails: null,
    };
  },
  created() {
    this.getProductDetails();
  },
  methods: {
    getProductDetails() {
      axios
        .get(
          "http://localhost:3000/api/getProductDetails/" +
            this.$route.params.productCode
        )
        .then((response) => {
          if (response && response.data) {
            this.productDetails = response.data;
          }
        });
    },
  },
};
</script>
