<template>
  <div id="product-list" class="columns is-multiline">
    <ProductListItem
      v-for="(product, index) in products"
      :key="'item_' + index"
      :product="product"
    />
  </div>
</template>
<script>
import { mapState } from "vuex";
import ProductListItem from "./ProductListItem";
export default {
  components: {
    ProductListItem,
  },
  computed: {
    ...mapState("products", ["products"]),
  },
  created() {
    this.getProductList();
  },
  methods: {
    getProductList() {
      this.$store.dispatch("products/getProductsList", null, { root: true });
    },
  },
};
</script>
<style lang="scss" scoped>
#product-list {
  width: 90%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
</style>
