<template>
  <div class="column is-one-quarter">
    <div id="product-card" class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img :src="product.imageUrl" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <div id="text-content">
            <h2 class="subtitle is-marginless">{{ product.name }}</h2>
            <small class="has-text-success is-block">
              $ {{ product.price }}
            </small>
            <small class="has-text-warning is-block">
              {{ product.productBids }} Bids
            </small>
            <p>
              {{ product.description }}
            </p>
          </div>
        </div>
        <button @click="goToProductDetails" class="button is-success">
          Bid Now
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  methods: {
    goToProductDetails() {
      this.$router.push("/product-details/" + this.product.productCode);
    },
  },
};
</script>
<style lang="scss" scoped>
#product-card {
  height: 100%;
}

#text-content {
  height: 8em;
}

#text-content > p {
  margin-top: 0.5em;
}
</style>
