<template>
  <div id="searchbar-div">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input
          class="input"
          type="text"
          placeholder="Find an item"
          v-model="searchText"
          @keyup.enter="search"
        />
      </div>
      <div class="control">
        <a @click="search" class="button is-info" :disabled="!searchText">
          Search
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState("products", ["sampleData"]),
  },
  data() {
    return {
      searchText: "",
    };
  },
  methods: {
    search() {
      this.$store.dispatch(
        "products/getProductsList",
        {
          ...(this.searchText && { searchText: this.searchText }),
        },
        { root: true }
      );
    },
  },
};
</script>
<style lang="scss" scoped>
#searchbar-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#sort-bar {
  text-align: left;
  background-color: #dbdbdb;
  padding: 1em;
  border-radius: 3px;
}
</style>
