<template>
  <div id="bid-button-container">
    <div class="field">
      <label class="has-text-left label">Your Bid:</label>
    </div>
    <div class="field has-addons is-expanded">
      <div class="control">
        <input
          class="input"
          type="number"
          placeholder="Amount"
          v-model="bidAmount"
          :min="minBid"
        />
      </div>
      <div class="control">
        <a @click="submitBid" class="button is-success" :disabled="!bidAmount">
          Bid Now
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: {
    minBid: {
      type: Number,
      required: true
    },
    productCode: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      bidAmount: 0,
    };
  },
  created() {
    // Set default bid amount to 1 dollar higher than the last bid 
    this.bidAmount = this.minBid;
  },
  methods: {
    submitBid() {
      const userLoggedIn = localStorage.getItem("userLoggedIn");
      if (this.bidAmount && userLoggedIn) {
        axios
          .post("http://localhost:3000/api/submitBid", {
            bidAmount: this.bidAmount,
            username: userLoggedIn,
            productCode: this.productCode,
          })
          .then(() => {
            // Get latest bids 
            this.$store.dispatch('bids/getProductBids', this.productCode, {root: true});
          }).catch((err) => {
            if(err.response && err.response.data && err.response.data.message){
            alert(err.response.data.message);
            }
          });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
#bid-button-container {
  margin: 1em 0em;
  width: 50%;
}
</style>
