<template>
  <div>
    <h1 class="title">Product Bids</h1>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th v-for="(tableRow, index) in tableData" :key="index"> {{
            tableRow.tableHeader
            }} </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, index) in productBids" :key="index">
          <td v-for="(tableRow, index) in tableData" :key="index"> {{ row[tableRow.tableRowKey]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import {mapState} from 'vuex';
export default {
  data() {
    return {
      tableData: [{
        tableHeader: 'Bid Date',
        tableRowKey: 'dateBid'
      },
      {
        tableHeader: 'Username',
        tableRowKey: 'username'
      },
      {
        tableHeader: 'Bid Amount',
        tableRowKey: 'bidAmount'
      },
      ]
    }
  },
  computed: {
    ...mapState('bids', ['productBids'])
  }
}
</script>
