<template>
  <div id="product-details-box" class="box">
    <div class="columns">
      <div class="column is-one-third">
        <img :src="productDetails.imageUrl" alt="Placeholder image" />
      </div>
      <div class="column is-two-thirds">
        <h1 class="title has-text-left">{{ productDetails.name }}</h1>
        <p class="subtitle has-text-left has-text-success">
          $ {{ productDetails.price }}
        </p>
        <p class="has-text-left">{{ productDetails.description }}</p>
        <BidButton
        :min-bid="minBid"
          :product-code="productDetails.productCode"
          :price="productDetails.price"
        />
      </div>
    </div>
  </div>
</template>
<script>
import BidButton from "./BidButton";
export default {
  props: {
    productDetails: {
      type: Object,
      required: true,
    },
  },
  computed: {
    minBid () {
      if(this.productDetails && this.productDetails.latestBid){
        return this.productDetails.latestBid.bidAmount + 1
      } else {
        return 1;
      }
    }
  },
  components: {
    BidButton,
  },
};
</script>
<style lang="scss" scoped>
#product-details-box {
  width: 95%;
  margin: 4em auto 0 auto;
}
</style>
