<template>
  <div id="product-bids-box" class="box">
    <BidsTable v-if="productBids && productBids.length"/>
  </div>
</template>
<script>
import {mapState} from 'vuex';
import BidsTable from "./BidsTable"
export default {
  components: {
    BidsTable
  },

  props: {
    productCode: {
      type: String,
      required: true
    }
  },

  computed: {
    ...mapState('bids', ['productBids'])
  },

  created() {
    this.getProductBids()
  },

  methods: {
    getProductBids() {
      this.$store.dispatch('bids/getProductBids', this.productCode, {root: true})
    }
  }
}
</script>
<style lang="scss" scoped>
#product-bids-box {
  width: 95%;
  margin: 4em auto 0 auto;
}
</style>