<template>
  <div id="login-form" class="box">
    <div id="login-content">
      <h1 class="title has-text-black">User Login</h1>
      <div v-if="errorMessage" class="notification is-danger">
        {{ errorMessage }}
      </div>
      <form @submit.prevent="submit">
        <div class="field">
          <label class="label has-text-left">Username</label>
          <div class="control">
            <input :class="inputClass" v-model="username" type="string" />
          </div>
        </div>
        <div class="field">
          <label class="label has-text-left">Password</label>
          <div class="control">
            <input :class="inputClass" v-model="password" type="password" />
          </div>
        </div>
        <button
          class="button is-info is-medium"
          :disabled="!enableSubmit"
          @click="submit"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      errorMessage: "",
      username: "",
      password: "",
    };
  },
  computed: {
    enableSubmit() {
      return this.username && this.password;
    },
    inputClass() {
      return "input " + (this.errorMessage ? "is-danger" : "");
    },
  },
  methods: {
    submit() {
      if (this.enableSubmit) {
        axios
          .post("http://localhost:3000/api/login", {
            username: this.username,
            password: this.password,
          })
          .then((response) => {
            if (response && response.data) {
              localStorage.setItem("userLoggedIn", response.data);
              this.$router.push("/");
            }
          })
          .catch((err) => {
            if (
              err &&
              err.response &&
              err.response.data &&
              err.response.data.message
            ) {
              this.errorMessage = err.response.data.message;
            } else {
              this.errorMessage = "Unable to login!";
            }
          });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
#login-form {
  align-items: center;
  display: flex;
  margin-left: 40px;
  width: 300px;
  min-width: 320px;
  height: 450px;
  max-width: 400px;
  width: 100%;
  justify-content: center;
}

#login-content {
  width: 95%;
}
</style>
