<template>
  <div id="app">
    <!-- Only show Navbar when not in Login page -->
    <Navbar v-if="$route.name !== 'Login'" />
    <router-view />
  </div>
</template>
<script>
import Navbar from "./components/Navbar";
export default {
  components: {
    Navbar,
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
#app {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
